/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* utilities */
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

}

hr {
    margin-bottom: 20px;
    margin-top: 15px;
    width: 1110px;
    height: 1px;
    background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    border: none;
}

/* navigation */
nav {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 85px;
}

nav .none {
    display: none;
}

.influencer-products {
    width: 50%;
    margin-left: 120px;
}

.products-menu a {
    width: 50%;
    margin-left: 34px;
}

.products-menu i {
    color: #0A0826;
    margin-left: 34px;
}

nav h2 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* influencer */

.influencer {
    display: flex;
    width: 1188px;
    height: 475px;
    margin-left: 120px;
    margin-bottom: 70px;
}

.details {
    width: 582px;
}

.details p {
    color: #3A3A3A;
    padding-bottom: 10px;
    font-size: 16px;
}

.button {
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: 0cap;
    font-weight: 700;
}

.button i {
    margin-left: 8px;
}

.thumblain {
    margin-left: 130px;
}

h1 {
    color: #3A3A3A;
    line-height: 70px;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 0;
    margin-top: 100px;
}

.camera img {
    position: relative;
    bottom: 450px;
}

/* logos */
.logos {
    display: flex;
    width: 1110px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 165px;
}

/* 3rd-section styles */
.third-section h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    margin-top: 97px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1047px;
    margin-left: 195px;
    grid-column-gap: 30px;
}

.container h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.container h4 {
    /* color: var(--Dark-Color, rgba(0, 0, 0, 0.87)); */
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.items img {
    width: 100%;
}

.items {
    padding: 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 30px;
}

.items i {
    color: orange;
}

.items p,
span {
    /* color: var(--Gray-50, #787885); */
    color: #787885;
    font-size: 16px;
    font-weight: 700;
}

.scroll-bar {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    text-align: end;
    margin-right: 197px;
}

.scroll-bar i {
    color: #E02C6D;
    margin-left: 8px;
}

/* features styles */
.features {
    display: flex;
    width: 1110px;
    margin-left: 165px;
    align-items: center;
    margin-top: 50px;
}

.feature-details {
    margin-left: 96px;
    margin-bottom: 100px;
}

.feature-details h1 {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 75px;
}

.feature-details p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.feature-details button {
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: 0cap;
    font-weight: 700;
}

.feature-details button i {
    margin-left: 8px;
}

/* last-part for footer */
footer {
    margin-top: 50px;
    display: flex;
    width: 1440px;
    height: 240px;
    background-color: #0A0826;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
}

footer h2 {
    font-size: 24px;
    font-weight: 700;
}

footer p {
    font-size: 14px;
    font-family: Inter;
    font-weight: 0;
    line-height: 24px;
}

footer i {
    margin: 8px;
}

footer h2,
p,
i {
    color: #FFFFFF;
}

@media only screen and (max-width:688px) {
    body {
        width: 100%;
    }

    nav .none {
        display: block;
        color: black;
        margin-left: 3%;
    }

    nav a {
        display: none;
    }

    nav {
        margin-top: 0%;
        margin-bottom: 25%;
    }

    nav h2 {
        font-size: 16px;
    }

    nav .hide {
        display: none;
    }

    .influencer {
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .thumblain {
        margin-left: 15%;
        margin-right: 15%;
    }

    .thumblain img {
        width: 100%;
    }

    .thumblain .camera {
        position: absolute;
        margin-top: 50%;
        margin-left: 5%;
        margin-right: 20%;
    }

    .details h1 {
        font-size: 32px;
        line-height: 1.5em;
        margin-top: 0;
    }

    .details p {
        font-size: 14px;
    }

    .details {
        width: 100%;
        text-align: center;
    }

    /* part-2-logos */
    hr {
        display: none;
    }

    .logos {
        width: 100%;
        flex-wrap: wrap;
        width: 400px;
        align-items: center;
        margin: 0px;
    }

    /* 3rd-part */
    .container {
        margin: 0%;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .third-section h3 {
        font-size: 16px;
    }

    .third-section p {
        margin: 0%;
    }

    /* 4rth-part */
    .features {
        width: 100%;
        margin-left: 0%;
        flex-direction: column-reverse;
    }

    .feature-details {
        text-align: center;
        margin-left: 0%;
    }

    .feature-details h1 {
        font-size: 24px;
    }

    .feature-details p {
        font-size: 14px;
    }

    /* last-part for footer */
    footer {
        width: 100%;
    }
}